.prettierignore
.prettierrc
.husky/*
.vscode/*
.idea/*
.next/*
.nuxt/*
.serverless/*
.fusebox/*
.dynamodb/*
.tern-port/*
.nyc_output/*
.cache/*
.parcel-cache/*
.log
.DS_Store
.vscode
.idea
*.swp
*.swo
*~
changelog*
.eslintrc.js
node_modules
dist

eslint.config.js
plan-v1.md
TZ-v1.md
tsconfig.json
vite.config.ts

